@font-face {
    font-family: 'Oswald ExtraLight';
    src: url('/fonts/Oswald-ExtraLight.ttf') format('ttf'),
         url('/fonts/Oswald-ExtraLight.woff') format('woff'),
         url('/fonts/Oswald-ExtraLight.eot') format('eot');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Light';
    src: url('/fonts/Oswald-Light.ttf') format('ttf'),
         url('/fonts/Oswald-Light.woff') format('woff'),
         url('/fonts/Oswald-Light.eot') format('eot');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Regular';
    src: url('/fonts/Oswald-Regular.ttf') format('ttf'),
         url('/fonts/Oswald-Regular.woff') format('woff'),
         url('/fonts/Oswald-Regular.eot') format('eot');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Medium';
    src: url('/fonts/Oswald-Medium.ttf') format('ttf'),
         url('/fonts/Oswald-Medium.woff') format('woff'),
         url('/fonts/Oswald-Medium.eot') format('eot');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Bold';
    src: url('/fonts/Oswald-Bold.ttf') format('ttf'),
         url('/fonts/Oswald-Bold.woff') format('woff'),
         url('/fonts/Oswald-Bold.eot') format('eot'); 
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Oswald SemiBold';
    src: url('/fonts/Oswald-SemiBold.ttf') format('ttf'),
         url('/fonts/Oswald-SemiBold.woff') format('woff'),
         url('/fonts/Oswald-SemiBold.eot') format('eot'); 
    font-weight: bold;
    font-style: normal;
}
