.WeatherCard{
	background-color: rgba(256,256,256,.25);

	display: flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;

	font-size: 14px;

	padding:2.5em 2em 2em 2em;

	transition: all .3s ease;

	color:#fff;

}

.WeatherCard:hover, .WeatherCard:focus{
	transform: scale(1.02);
	background-color: rgba(256,256,256,.3);
}

.WeatherCard__header{
	width: 100%;
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;

	padding-bottom: 1em;

}

.WeatherCard__content{
	width: 100%;

	border-top: 1px solid #fff;
	padding: .6em 0em .3em 0em;

}

.WeatherCard__footer{
	width: 100%;

	border-top: 1px solid #fff;

	padding-top: .8em;

}

.WeatherCard__icon{
	height: 80px;
	width: auto;
	object-fit: cover;
}

.WeatherCard__day{
	text-transform: uppercase;
	font-family: 'Oswald SemiBold';
	font-size: 2em;

	margin-bottom: 0em;
	margin-top: 0em;

}

.WeatherCard__temp{
	text-transform: uppercase;
	font-family: 'Oswald ExtraLight';
	font-size: 1.14em;

	margin-bottom: 0em;
	margin-top: 0em;

	opacity: .6;

}

@media (max-width: 1366.98px){
	.WeatherCard{
		font-size: 12px;
	}

	.WeatherCard__icon{
		height: 55px;
	}
}


@media (max-width: 1024.98px){

	.WeatherCard{
		font-size: 10px;
	}

	.WeatherCard__icon{
		height: 35px;
	}

}