.WeatherMain{
	background-color: rgba(256,256,256,.25);

	display: flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;

	font-size: 14px;

	padding:3.5em 2em 4em 2em;

	transition: all .3s ease;

	color:#fff;
}

.WeatherMain:hover,.WeatherMain:focus{
	transform: scale(1.02);
	background-color: rgba(256,256,256,.3);
}

.WeatherMain__header{
	width: 100%;
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;

}

.WeatherMain__content{
	width: 100%;

	padding:1.4em 0em 1em;

}

.WeatherMain__footer{
	border-top: 1px solid #fff;
	width: 100%;

	padding:1em 0em 1.4em;

}

.WeatherMain__icon{
	height: 220px;
	width: auto;
	object-fit: cover;
}

.WeatherMain__day{
	margin-top: 0em;
	margin-bottom: 0em;

	font-family: 'Oswald SemiBold';
	font-size: 2em;
	text-transform: uppercase;
	line-height: 1;

}

.WeatherMain__date{
	margin-top: 0em;
	margin-bottom: 0em;

	font-family: 'Oswald SemiBold';
	font-size: 2em;
	text-transform: uppercase;
	line-height: 1;

}

.WeatherMain__values{
	margin-top: 0em;
	margin-bottom: 0em;

	text-transform: uppercase;
	font-family: 'Oswald SemiBold';
	font-size: 1.4em;

}

.WeatherMain__text{
	margin-top: 0em;
	margin-bottom: 0em;

	text-transform: uppercase;
	font-family: 'Oswald ExtraLight';
	font-size: 1.14em;

	opacity: .7;

}

@media (max-width: 1366.98px){

	.WeatherMain{
		font-size: 12px;
	}

	.WeatherMain__icon{
		height: 160px;
	}

}


@media (max-width: 1024.98px){

	.WeatherMain{
		font-size: 10px;
	}

	.WeatherMain__icon{
		height: 100px;
	}

}