.App{
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;

	font-size: 14px;
}


.App__title{
	font-family: 'Oswald SemiBold';
	color:#fff;
	text-transform: uppercase;

	font-size: 2em;

}

.App__footer-text{
	text-align: center;
	color:#fff;
	text-transform: uppercase;
	font-family: 'Oswald ExtraLight';

	font-size: 1.14em;
}

.App__footer-text span{
	font-family: 'Oswald SemiBold';
}

.App__title span{
	font-family: 'Oswald ExtraLight';

}


.App__cities{
	width: 50%;

	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: 1fr;
	grid-gap: 15px;

	padding:2em 0em 2em 2em;

}

.App__cities-item{
	color:#fff;
	text-transform: uppercase;
	font-family: 'Oswald SemiBold';

	margin-bottom: 0em;
	margin-top: 0em;

	cursor: pointer;

	transition: all .3s ease-in-out;
}


.App__wrap{
	display: flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:flex-between;

	width: 50%;
}

.App__wrap-left{
	width: 30%;
	padding:2em 0em 2em 2em;
}

.App__wrap-right{
	width: 60%;

	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 1fr 1fr;
	grid-gap: 1em;
	
	padding:2em;
}

@media (max-width: 1366.98px){
	
	.App{
		font-size: 12px;
	}
	
	.App__wrap{
		width: 65%;
	}
	
}


@media (max-width: 1024.98px){
	
	.App{
		font-size: 10px;
	}	

	.App__cities{
		grid-template-columns: repeat(4,1fr);
	}

}